.work__bg {
    background-color: #EB6D58;
    transition: all 1s;
}
.short__break__bg {
    background-color: rgb(103, 134, 50);
    transition: all 1s;
}
.long__break__bg {
    background-color: #522582;
    transition: all 1s;
}