@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

.timer__oclock {
    font-family: 'Open Sans', sans-serif;
    font-size: 800%;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 5%;
    color: white;

    @media (max-width: 1380px) {
        font-size: 700%;
    }

    @media (max-width: 1230px) {
        font-size: 500%;
    }

    @media (max-width: 600px) {
        font-size: 800%;
    }
}